/* 
---------- TYPOGRAPHY ---------

FONT SIZES

12px / 16px / 20px / 24px / 32px / 40px / 48px /62px

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY 
Poppins

---------- BORDER RADIUS ----------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px /  70px / 80px / 90px / 100px / 125px 

*/



/* --------- GLOBAL STYLES --------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
:root {
    /* FONT SIZES */
    font-size: 62.5%;
    /* update to rems */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHTS */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */

    --letter-spacing-tight: .5px;

    /* FONT FAMILY */
    --font-family: 'Poppins', sans-serif;

    /* COLORS */
    --primary-base: #1c2c41;
    --primary-tint: #2c3e55;
    --primary-shade: #0f1924;

    --secondary-base: #48a3c6;
    --secondary-tint: #85d9fa;
    --secondary-shade: #007eb9;

    --tertiary-base: #ad5a06;
    --tertiary-tint: #f5a657;
    --tertiary-shade: #e47911;

    --grey-base: #495057;
    --grey-tint:  #cccccc;
    --grey-shade: #212529;

    --white: #FFF;
    --black: #000;
}
body {
    background-color: var(--grey-tint);
    color: var(--white);
    position: relative;
}

/* GLOBAL */

.container {
    width: 82.25%;
    margin: 0 auto;
}


a {
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
    cursor: pointer;
}
h1,h2,h3,h4,h5 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
}




/* -------- TOP NAVBAR ------- */

.top-navbar-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 8rem;
    background: var(--primary-shade);
    gap: 2.5rem;
}
.amazon-logo {
    max-width: 130px;
    width: 100%;
}
.location-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    margin-right: 1.5rem;
}
.location-div img{
    max-width: 20px;
    width: 100%;
}
.location-div p {
    font-size: 1.6rem;
    letter-spacing: var(--letter-spacing-tight);
    color: var(--grey-tint);
}
.location-div h1 {
    color: var(--white);
    font-size: 1.6rem;
}

.top-navbar-2 {
    flex: 1; /* --to use all the space available */
    display: flex;
    align-items: center;
    max-width: 1200px;
    background: var(--white);
    border-radius: 1rem;
}
.all-drop {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2rem;
    background: var(--grey-base);
    border-radius: .5rem 0 0 .5rem;
}
.all-drop p {
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
}
.nav-search-input {
    border: none; /*To hide the input border*/
    outline: none;
    padding: 0 2rem;
    width: 100%;
}
.nav-search-icon {
    max-width: 43.5px;
    width: 100%;
    background: var(--tertiary-shade);
    padding: .8rem;
    border-radius: 0 .5rem .5rem 0;
}

.top-navbar-3 {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 1.5rem;
}
.langugae-selection {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: var(--font-weight-bold);
}
.nav-sign-in {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.sign-in h1 {
    font-size: 1.6rem;
    color: var(--white);
}
.return-orders h1 {
    font-size: 1.6rem;
    color: var(--white);
}
.nav-cart {
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
}
.nav-cart img{
    max-width: 40px;
    width: 100%;
}
.nav-cart h4 {
    text-decoration: none;
    color: var(--white);
    align-self: flex-end;
}

/* -------- TOP-NAVIGATION-BAR-BOTTOM ------- */

.top-navbar-bottom {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    background: var(--primary-base);
    height: 4rem;
}
.all-menu {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.all-menu img {
    max-width: 30px;
    width: 100%;
}
.all-menu h4 {
    font-size: 1.2rem;
}
.top-navbar-bottom p {
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-tight);
}

/* ------- TOP SLIDER --------- */
.top-slider {
    max-width: 88%;
    position: relative;
    margin: 0 auto;
}
.top-slider a {
    position: absolute;
    top: 10%;
    z-index: 1;
    padding: 2.5rem 1rem;
    background: var(--white);
    color: var(--primary-tint);
    font-size: 2rem;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
}
.next {
    right: 0;
}
.top-slider ul {
    display: flex;
    overflow-y: hidden;
}
.top-slider-img {
    max-width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, black, transparent ); /*to create a fade-out in an image*/
}

/* ---------- HERO SECTION ---------- */
.hero-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.hero-header {
    margin-top: -25vw;
}
.main-home-essentials {
    width: 38rem;
    height: 45rem;
    background: var(--white);
    padding: 1.5rem;
    z-index: 1;
} 
.hero-h2s{
    color: var(--black);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin-left: 1.2rem;
    margin-bottom: 1rem;
}
.param-links {
    color: var(--secondary-shade);
    font-size: 1.2rem;
    margin-left: 1.2rem;
    letter-spacing: var(--letter-spacing-tight);
}
.param-links:hover {
    color: var(--grey-base);
}
.home-essentials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* place-items: center; */
    gap: 1.5rem;
    background: var(--white);
    padding: 1rem;
    margin-bottom: 2rem;
}
.home-essentials p {
    color: var(--grey-shade);
    font-size: 1.2rem;
}
.home-essentials-item-1 img,
.home-essentials-item-2 img,
.home-essentials-item-3 img,
.home-essentials-item-4 img{
    max-width: 160px;
}

/* ------- SHOP GAMING ----- */
.games-shop {
    width: 38rem;
    height: 45rem;
    background: var(--white);
    padding: 1.5rem;
    z-index: 1;
}
.games-shop img {
    max-width: 350px; /*forcing the img size to fit in the container - set one either height or width { NOT BOTH }*/
    height: 300px;
    margin-bottom: 3.5rem;
}
.games-shop h2, 
.games-shop p {
    margin-left: 0;
}

/* ------- TOP SELLERS --------- */
.top-sellers {
    width: 82.25%;
    margin: 0 auto;
    background: var(--white);
    height: 32rem;
    margin-bottom: 20rem;
    overflow: hidden;
    position: relative;
}
.top-sellers h2 {
    color: var(--black);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}
.control-buttons {
    position: absolute;
    top: 35%;
    padding: 2.5rem 1rem;
    background: var(--grey-base);
    color: var(--primary-tint);
    font-size: 2rem;
    cursor: pointer;
}
.control-buttons a {
    filter: brightness(0) invert(1);
}
.next_btn {
    right: 0;
}
.top-sellers ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
       
}
.top-sellers ul img {
    max-width: 130px;
}






/* ---------- FOOTER --------------- */
.footer h2{
    color: var(--white);
    font-size: 2.4rem;
}
.top-footer {
    background: var(--primary-tint);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-footer:hover {
    background: var(--primary-shade);
}
.top-footer a {
    color: var(--white);
    font-size: 2rem;
}
.middle-footer-wrapper {
    background: var(--primary-base);
    padding-bottom: 4rem;
}

.middle-footer {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 45rem;
    gap: 10rem;
}
.middle-footer h2 {
    margin-bottom: 2rem;
    margin-top: 8rem;
}
.middle-footer a {
    color: var(--grey-tint);
    font-size: 1.6rem;
    letter-spacing: var(--letter-spacing-tight);
}
.middle-footer a::after {
    content: '';
    width: 0%;
    height: 1px;
    background: var(--white);
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: .3rem;
}
.middle-footer a:hover::after {
    width: 100%;
}
.get-to-know-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}
.amazon-make-money {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.amazon-payments {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.let-us-help {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.footer-divider {
    border: none;
    height: .5px;
    background-color: var(--grey-base);
    width: 100%;
    margin: 3rem auto;
}

.no-mans-land {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo {
    max-width: 100px;
    margin-right: 5rem;
}

.no-mans-land-3 {
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}
.world-language {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--white);
    padding: .6rem 1.2rem;
}

.world-language img {
    filter: brightness(0) invert(1);
}

.currency-denomination {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--white);
    padding: .6rem 1.2rem;
}
.currency-denomination h2 {
    font-size: 1.2rem;
}

.flag-country {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--white);
    padding: .6rem 1.2rem;
}


/* ----- FOOTER BOTTOM -------- */

.footer-bottom-wrapper {
    display: flex;
    justify-content: center;
    background: var(--primary-shade);
    height: 38rem;
    gap: 6rem;
    padding-top: 5rem;
}
.footer-bottom-wrapper h3 {
    font-weight: 600;
    margin-bottom: .2rem;
}
.footer-bottom-wrapper p {
    color: var(--grey-tint);
    gap: .2rem;
}

.footer-bottom-1,
.footer-bottom-2,
.footer-bottom-3,
.footer-bottom-4,
.footer-bottom-5,
.footer-bottom-6,
.footer-bottom-7 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* -------- COPYRIGHT MESSAGE --------- */
/* This should have been in the wrapper WITH FOOTER-BOTTOM-{N} but AS PER NOW {MY EYES ARE} - I WILL HANDLE THIS MANUALLY */

.copyright-wrapper {
    background: var(--primary-shade);
}
.footer-last-copyright {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding-bottom: 1.5rem;
}
.footer-last-copyright a {
    color: var(--white);
    letter-spacing: var(--letter-spacing-tight);
}
.copy-right-2026 {
    display: flex;
    justify-content: center;
    gap: .2rem;
    padding-bottom: 5rem;
}
.copy-right-2026 p {
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-tight);
}